openapi: '3.0.3'
info:
  title: MietMiez API
  version: '1.0'
servers:
  - url: https://api.mietmiez.com/v1
tags:
  - name: user
    description: Everything related about user management
  - name: system
    description: Everything realated about the backend system and availability
  - name: advertisement
    description: Everything related about pet advertising
paths:
  /health:
    get:
      tags:
        - system
      responses:
        '200':
          description: Server is running and API is reachable.
        '500':
          description: Internal server error that cannot be solved. Further actions needed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SystemStatus'

  /user:
    post:
      tags:
        - user
      summary: Register new user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
      responses:
        '201':
          description: User created
        '400':
          description: Some input is not correct
    delete:
      tags:
        - user
      summary: Delete user and all its information
      responses:
        '200':
          description: User successfuly deleted
        '410':
          description: User does not exist or was permanently deleted
  /user/{username}:
    get:
      tags:
        - user
      summary: Obtain information about specified user
      parameters:
        - name: username
          in: path
          description: Username of user
          required: true
          schema:
            type: string
            example: JoAp
      responses:
        '200':
          description: User found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '404':
          description: user not found
  /user/favourites:
    get:
      tags:
        - user
      summary: Obtain all user's favourites
      responses:
        '200':
          description: List with all favourites (can be empty)
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Advertisement'

  
  /advertisement/{advertisement-id}:
    get:
      tags:
        - advertisement
      summary: Obtain advertisement information
      parameters:
        - name: advertisement-id
          in: path
          required: true
          schema:
            type: string
            example: 123abc
      responses:
        '200':
          description: Advertisement found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Advertisement'
        '404':
          description: Advertisement not found
    delete:
      tags:
        - advertisement
      summary: Deletes advertisement
      responses:
        '200':
          description: Advertisement deleted
    patch:
      tags:
          - advertisement
      summary: Changes advertisement
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdvertisementPatch'
      responses:
        '200':
          description: Advertisement changed
        '404':
          description: Advertisement not found

  /advertisement:
    post:
      tags:
        - advertisement
      summary: Create new advertisement
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Advertisement'
      responses:
        '200':
          description: Advertisement found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Advertisement'
        '404':
          description: Advertisement not found
    get:
      tags:
        - advertisement
      summary: Get the most current advertisements
      responses:
        '200':
          description: A list with advertisements (length of array not specified)
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Advertisement'
  
  /categories:
    get:
      tags:
        - advertisement
      summary: Obtain all advertisement categories
      responses:
        '200':
          description: A list with all categories
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Category'
      

components:
  schemas:
    SystemStatus:
      type: object
      properties:
        status:
          type: integer
          example: 100
        message:
          type: string
          example: Service down due to maintance work
    Advertisement:
      type: object
      properties:
        id:
          type: string
          example: 123abc
          minLength: 6
        date:
          type: string
          format: date
          example: 2025-06-11T14:30:00+02:00
          minLength: 25
          maxLength: 25
        title:
          type: string
          example: Mümmel
          minLength: 4
        description:
          type: string
          example: Ich suche einen Halter für ein Wochenende für meinen Mümmel.
          minLength: 25
        animal:
          type: string
          example: Rabbit
          minLength: 8
        images:
          type: array
          items:
            type: string
            example: https://api.mietmiez.com/resources/adv-images/123abc/image.jpg
    AdvertisementPatch:
      type: object
      properties:
        title:
          type: string
          example: Mümmel
          minLength: 4
        description:
          type: string
          example: Ich suche einen Halter für ein Wochenende für meinen Mümmel.
          minLength: 25
        animal:
          type: string
          example: Rabbit
          minLength: 8
        images:
          type: array
          items:
            type: string
            example: https://api.mietmiez.com/resources/adv-images/123abc/image.jpg
    Category:
      type: object
      properties:
        id:
          type: string
          example: 123abc
          minLength: 6
        title:
          type: string
          example: Dog
          minLength: 3
    User:
      type: object
      required:
        - first-name
        - last-name
        - username
        - email
        - password
        - city
      properties:
        first-name:
          type: string
          example: John
          minLength: 3
        last-name:
          type: string
          example: Appleseed
          minLength: 3
        username:
          type: string
          example: JoAp
          minLength: 4
        email:
          type: string
          example: john.appleseed@mail.com
          minLength: 5
        password:
          type: string
          format: password
          minLength: 8
        city:
          type: string
          example: Stuttgart
          minLength: 3
          nullable: true