openapi: '3.0.3'
info:
  title: MietMiez API
  version: '1.0'
servers:
  - url: https://api.mietmiez.com/v1
tags:
  - name: user
    description: Everything related about user management
  - name: system
    description: Everything realated about the backend system and availability
  - name: advertisement
    description: Everything related about pet advertising
  - name: image
    description: Everything related about advertisement images

paths:
  /health:
    get:
      tags:
        - system
      responses:
        '200':
          description: Server is running and API is reachable.
        '500':
          description: Internal server error that cannot be solved. Further actions needed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SystemStatus'

  /about.json:
    get:
      tags:
        - system
      responses:
        '200':
          description: About information of MietMiez instance, content not specified, can be changed as you like
        '500':
          description: Static file not found

  /user:
    get:
      tags:
        - user
      summary: Checks if user is logged in
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/User'
          description: User object with user data
        '401':
          description: User is not logged in
    post:
      tags:
        - user
      summary: Register new user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
      responses:
        '201':
          description: User created
        '400':
          description: Some input is not correct
    delete:
      tags:
        - user
      summary: Delete user and all its information
      responses:
        '200':
          description: User successfully deleted
        '410':
          description: User does not exist or was permanently deleted
    put:
      tags:
        - user
      summary: Update user information
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
      responses:
        '200':
          description: User information updated
        '400':
          description: Invalid input data
        '401':
          description: User is not logged in

  /user/{email}:
    get:
      tags:
        - user
      summary: Obtain information about specified user
      parameters:
        - name: email
          in: path
          description: Email of user
          required: true
          schema:
            type: string
            example: abc@mietmiez.com
      responses:
        '200':
          description: User found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '404':
          description: user not found
  /user/login:
    post:
      tags:
        - user
      summary: Log-in user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Successfully logged in
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
        '401':
          description: Invalid credentials
        '423':
          description: User has not been activated (email)
  /user/logout:
    post:
      tags:
        - user
      summary: Log out a user
      responses:
        '200':
          description: Successfully logged out
  /user/reset-password:
    post:
      tags:
        - user
      summary: Request password reset via mail
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PasswordResetEmailRequest'
      responses:
        '200':
          description: Password reset link sent (if user with that email exists)
        '500':
          description: Internal server error

  /user/reset-password/{token}:
    post:
      tags:
        - user
      summary: Reset password after receiving pw-reset email
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PasswordResetRequest'
      responses:
        '200':
          description: Password has been changed
        '400':
          description: Token is not valid
        '500':
          description: Internal server error
  
  /user/change-password:
    post:
      tags:
        - user
      summary: Change user password
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PasswordChange'
      responses:
        '200':
          description: Password change successful
        '401':
          description: Old password is wrong

  /user/favourites:
    get:
      tags:
        - user
      summary: Obtain all user's favourites
      responses:
        '200':
          description: List with all favourites (can be empty)
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Advertisement'
    post:
      tags:
        - user
      summary: Add new favourite
      parameters:
        - name: advertisement
          in: query
          required: true
          schema:
            type: string
          example: adc123
      responses:
        '200':
          description: List with all favourites (can be empty)
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Advertisement'

  /user/activate/{token}:
    get:
      tags:
        - user
      summary: Activate user account with token from Email
      parameters:
        - name: token
          in: path
          required: true
          schema:
            type: string
            example:
      responses:
        '200':
          description: User has been activated
        '400':
          description: Bad Request (token invalid or user already activated)
        '500':
          description: Internal server error occurred
  
  /advertisement/{advertisement-id}:
    get:
      tags:
        - advertisement
      summary: Obtain advertisement information
      parameters:
        - name: advertisement-id
          in: path
          required: true
          schema:
            type: integer
            example: 123
      responses:
        '200':
          description: Advertisement found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Advertisement'
        '400':
          description: id was not an integer
        '404':
          description: Advertisement does not exist or was permanently removed
    delete:
      tags:
        - advertisement
      summary: Deletes advertisement
      parameters:
        - name: advertisement-id
          in: path
          required: true
          schema:
            type: integer
            example: 123
      responses:
        '200':
          description: Advertisement deleted
        '401':
          description: User is not authorized
        '404':
          description: User is not owner of advertisement
        '500':
          description: Internal server error occurred while removing advertisement
    patch:
      tags:
        - advertisement
      summary: Changes advertisement
      parameters:
        - name: advertisement-id
          in: path
          required: true
          schema:
            type: integer
            example: 123
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdvertisementPatch'
      responses:
        '200':
          description: Advertisement changed
        '401':
          description: User is not authorized to change advertisement (not logged in)
        '403':
          description: User tried to change ad which wasn't created by him
        '404':
          description: Advertisement not found
        '500':
          description: Internal server error occurred

  /advertisement:
    post:
      tags:
        - advertisement
      summary: Create new advertisement
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdvertisementCreation'
      responses:
        '201':
          description: Advertisement created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Advertisement'
        '404':
          description: Advertisement not found
        '500':
          description: Server error occurred while creating entry in db
    get:
      tags:
        - advertisement
      summary: Get the most current advertisements
      parameters:
        - name: page
          in: query
          required: false
          schema:
            type: integer
            example: 3
          description: Page of advertisement results (page size is 30)
      responses:
        '200':
          description: A list with advertisements (length of array not specified)
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Advertisement'
        '500':
          description: An internal server error occurred

  /advertisement/search:
    get:
      tags:
        - advertisement
      summary: Search advertisements
      parameters:
        - name: animal
          in: query
          required: false
          schema:
            type: string
            example: Cat
        - name: zip-code
          in: query
          required: false
          schema:
            type: string
            example: 71034
        - name: title
          in: query
          required: false
          schema:
            type: string
            example: Mümmel
      responses:
        '200':
          description: Matching advertisements
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Advertisement'
        '404':
          description: no advertisements were found
          content:
            application/json:
              schema:
                type: object
        '500':
          description: internal server error occurred
  
  /categories:
    get:
      tags:
        - advertisement
      summary: Obtain all advertisement categories
      responses:
        '200':
          description: A list with all categories
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Category'
        '500':
          description: An error has occured during the fetch of the categories

  /image/{id}:
    get:
      tags:
        - image
      summary: Image download
      parameters:
        - name: id
          in: path
          required: true
          description: The id provided after the upload (will be saved in the advertisement)
          schema:
            type: string
            example: 72819f0581ad72528a90f06d0de618b22bcaf11611485267a95df1f4866911c4.jpg
      responses:
        '200':
          description: Image has been found and will be sent
          content:
            image/*:
              schema:
                type: string
                format: binary
        '404':
          description: Image not found
        '500':
          description: Internal server error occurred
  /image:
    post:
      tags:
        - image
      summary: Image upload
      requestBody:
        required: true
        content:
          image/*:
            schema:
              type: string
              format: binary
      responses:
        '201':
          description: Image was uploaded successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/imageUploadResponse'
        '400':
          description: Bad Request; Image was probably malformed
        '500':
          description: Internal server error while uploading the image

components:
  schemas:
    SystemStatus:
      type: object
      properties:
        status:
          type: integer
          example: 100
        message:
          type: string
          example: Service down due to maintance work
    AdvertisementCreation:
      type: object
      properties:
        title:
          type: string
          example: Mümmel
          minLength: 4
        description:
          type: string
          example: Ich suche einen Halter für ein Wochenende für meinen Mümmel.
          minLength: 25
        animal:
          type: string
          example: Rabbit
          minLength: 3
        images:
          type: array
          items:
            type: string
            example: 72819f0581ad72528a90f06d0de618b22bcaf11611485267a95df1f4866911c4.jpg
    Advertisement:
      type: object
      properties:
        id:
          type: integer
          example: 5647
        date:
          type: string
          format: date
          example: 2025-06-11T14:30:00+02:00
          minLength: 25
          maxLength: 25
        title:
          type: string
          example: Mümmel
          minLength: 4
        description:
          type: string
          example: Ich suche einen Halter für ein Wochenende für meinen Mümmel.
          minLength: 25
        animal:
          type: string
          example: Rabbit
          minLength: 3
        images:
          type: array
          items:
            type: string
            example: 72819f0581ad72528a90f06d0de618b22bcaf11611485267a95df1f4866911c4.jpg
    AdvertisementPatch:
      type: object
      properties:
        title:
          type: string
          example: Mümmel
          minLength: 4
        description:
          type: string
          example: Ich suche einen Halter für ein Wochenende für meinen Mümmel.
          minLength: 25
        animal:
          type: string
          example: Rabbit
          minLength: 3
        images:
          type: array
          items:
            type: string
            example: https://api.mietmiez.com/resources/adv-images/123abc/image.jpg
    PasswordResetEmailRequest:
      type: object
      required:
        - email
      properties:
        email:
          type: string
          format: email
          example: john.appleseed@mail.com
    PasswordResetRequest:
      type: object
      required:
        - password
      properties:
        password:
          type: string
          example: sup3rStrongAndLongP!ssword
    LoginResponse:
      type: object
      properties:
        token:
          type: string
          # noinspection SpellCheckingInspection
          example: umxBkyW3P-wHb2AW1L_rmTRIi99S6beIyZnva3N8ZOI=
        expires_at:
          type: string
          example: 2025-07-07T09:23:36.937392461Z
    LoginRequest:
      type: object
      required:
        - email
        - password
      properties:
        email:
          type: string
          example: abc@mietmiez.com
        password:
          type: string
          format: password
          example: mypassword123
    PasswordChange:
      type: object
      required:
        - email
        - old-password
        - new-password
      properties:
        email:
          type: string
          format: email
          example: john.appleseed@mail.com
        old-password:
          type: string
          example: ilovepizza
        new-password:
          type: string
          example: iloveromance
    Category:
      type: object
      properties:
        id:
          type: integer
          example: 456
        title:
          type: string
          example: Dog
          minLength: 3
    User:
      type: object
      required:
        - first-name
        - last-name
        - email
        - city
      properties:
        first-name:
          type: string
          example: John
          minLength: 3
        last-name:
          type: string
          example: Appleseed
          minLength: 3
        email:
          type: string
          example: john.appleseed@mail.com
          minLength: 5
        password:
          type: string
          format: password
          minLength: 8
        city:
          type: string
          example: Stuttgart
          minLength: 3
          nullable: true
        zip-code:
          type: string
          example: 71034
          minLength: 2
          nullable: true
    imageUploadResponse:
      type: object
      properties:
        id:
          type: string
          example: 72819f0581ad72528a90f06d0de618b22bcaf11611485267a95df1f4866911c4.jpg